// Define variables for your color scheme

// Website Palltet:
$yellow: #f1e7b6;
$green: #00bdaa;
$purple: #400082;
$white: #FFFFFF;
$pink: #fe346e;

//Bootstrap Pallet

$light-gray: #F4F4F4;
$gray: #0E0000;
$orange: #E67E22;
$red: #FD1015;
$blue: #167FFB;
