<%# Landing page goes here %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
<h2>WHATS UP <%= current_user.email%></h2>

<%= link_to "See all available Characters", "/characters" %>
<br>
<%= link_to "Create Character", "/characters/new" %>
<% end %>
