.btn-rento {
  padding: 8px 24px;
  background: #6a097d;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  opacity: 1.0;
  font-size:20px;
}

.btn-rento:hover {
  opacity: 0.6;
  text-decoration: none;
  color: white;
}

.btn-add {
  padding: 12px;
  background: #f5a31a;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  opacity: 1.0;
  font-size:20px;
  height: 60px;
}

.btn-add:hover {
  opacity: 0.6;
  text-decoration: none;
  color: white;
}

.btn-delete {
  padding: 8px 24px;
  background: #fe346e;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  opacity: 1.0;
  font-size:20px;
}

.btn-delete:hover {
  opacity: 0.6;
  text-decoration: none;
  color: white;
}


.btn-update {
  padding: 8px 24px;
  background: #400082;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  opacity: 1.0;
  font-size:20px;
}

.btn-update:hover {
  opacity: 0.6;
  text-decoration: none;
  color: white;
}

