
//character cards

.card-trip {
  width: 90%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-right: 20px;
  color: black;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .8;
  margin: 0;
}

.card-trip-pricing {
  text-align: right;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



.container-dashboard {
width: 1200px;
height: 100%;
background-color: #f1f1f1;
color: white;
}

.head-dashboard{
  font-family: "Walter Turncoat", "cursive";
  padding: 30px;
  font-size:30px;
  color: black;
  h3 {
    font-family: "Walter Turncoat", "cursive";
  }
}

.name-dashboard {
  font-family: "Roboto", "sans-serif";
  font-size: 25px;
  font-weight: bold;
}

.mychars {
  margin: 40px 0;
}

