.banner-container {
  position: relative;

}

.banner-group {
  position: absolute;
  left: 150px;
  top: 60px;
}


.square-box {
  position: absolute;
  top: 370px;
  right: 180px;
}

.font-head {
  font-size: 70px;
}

.font-sub {
  font-size: 50px;
}


#search-result-card {
  max-width: 100%;
  margin-bottom: 20px;
}

