.navbar-lewagon {
  justify-content: space-between;
  background: #00bdaa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-font {
  font-size: 18px;
  color: white;
}
